h2 Send Email
form(action='/register_user', method='post')
    | Email Id:
    input(type='text', name='email')
    br
    | Subject :
    input(type='text', name='subject')
    br
    | Message :
    input(type='text', name='message')
    br
    input(type='submit',value='submit')
